In [1]:
import pandas as pd
import numpy as np
import csv
import os
from pathlib import Path

In [3]:
data_df = pd.read_excel('../Excel Sheets/Netflix Dataset Latest 2021 Filtered - Data.xlsx', engine='openpyxl')
data_df

       Key                                 Title Series or Movie Release Date
0        1                                  0.03          Series   2016-11-25
1        2                              02:22:00           Movie   2017-06-30
2        3                              07:19:00           Movie   2016-09-23
3        4                                     8           Movie   2010-05-05
4        5                                    13           Movie   2010-03-01
...    ...                                   ...             ...          ...
9420  9421  أحمد حلمي - ليلى عز العرب - محمد فرج           Movie   2012-10-20
9421  9422               劇場版 フェアリーテイル DRAGON CRY           Movie   2017-08-14
9422  9423                        犬神家の一族（1976年版）           Movie          NaT
9423  9424              聖闘士星矢 黄金魂 -soul of gold-          Series   2015-04-10
9424  9425              黒執事 Book of the Atlantic           Movie   2017-06-12

[9425 rows x 4 columns]

In [4]:
n_df = pd.read_excel('../Excel Sheets/Netflix_Dataset_Latest_2021(base).xlsx', engine='openpyxl')
n_df.drop(columns=["Country Availability","Genre","Hidden Gem Score","IMDb Score","Runtime","Rotten Tomatoes Score","Director","Writer","Actors","Awards Received","Awards Nominated For","Netflix Release Date","Production House","Netflix Link","Summary","IMDb Votes","Image","Poster","TMDb Trailer","Trailer Site","IMDb Link","Languages","Tags","Series or Movie","Metacritic Score","View Rating","Title"], inplace=True)

In [5]:
n_df

                                          Title  Metacritic Score   Boxoffice
0                              Lets Fight Ghost              82.0   2122065.0
1                           HOW TO BUILD A GIRL              69.0     70632.0
2                              The Con-Heartist               NaN         NaN
3                                  Gleboka woda               NaN         NaN
4                                 Only a Mother               NaN         NaN
...                                         ...               ...         ...
9420                             13 Going on 30              57.0  57231747.0
9421                                   LIFE 2.0              65.0         NaN
9422                              Brand New Day               NaN         NaN
9423                Daniel Arends: Blessuretijd               NaN         NaN
9424  DreamWorks Happy Holidays from Madagascar               NaN         NaN

[9425 rows x 3 columns]