In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [2]:
Score_df = pd.read_csv("../../csv_file/Netflix_data_ML.csv")
Genre_df = pd.read_csv("../../csv_file/Netflix_Dataset_Genre_Type.csv")

In [3]:
Score_df

,Key,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score
0,5,1.6,6.1,8.0,29.0
1,6,2.5,6.8,36.0,48.0
2,8,3.6,7.5,81.0,62.0
3,15,4.2,8.3,89.0,78.0
4,16,3.7,6.3,91.0,70.0
...,...,...,...,...,...
3583,9411,3.1,6.5,63.0,61.0
3584,9412,1.2,4.4,4.0,26.0
3585,9418,1.7,5.2,23.0,24.0
3586,9419,4.2,8.5,93.0,75.0
3587,9420,4.5,8.2,98.0,92.0

In [4]:
Genre_df

,Key,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,SHORT WAR,CRIME,ADVENTURE,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
0,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,5,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9420,9421,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9421,9422,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
9422,9423,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9423,9424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9424,9425,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
Score_Genre_df = pd.merge(Score_df, Genre_df, on = 'Key')
Score_Genre_df = Score_Genre_df.set_index('Key')
Score_Genre_df.head()

,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,1.6,6.1,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2.5,6.8,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,3.6,7.5,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,4.2,8.3,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,3.7,6.3,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
Score_Genre_df.rename(columns = 
                      {'Hidden Gem Score':'Hidden_Gem_Score', 
                       'IMDb Score':'IMDb_Score', 
                       'Rotten Tomatoes Score':'Rotten_Tomatoes_Score', 
                       'Metacritic Score':'Metacritic_Score'}, 
                      inplace = True)
Score_Genre_df.head()

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,1.6,6.1,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2.5,6.8,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,3.6,7.5,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,4.2,8.3,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,3.7,6.3,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
Score_Genre_df["IMDb_Score"] = 10 * Score_Genre_df["IMDb_Score"]
Score_Genre_df["Hidden_Gem_Score"] = 10 * Score_Genre_df["Hidden_Gem_Score"]
Score_Genre_df.head()

,Hidden_Gem_Score,IMDb_Score,Rotten_Tomatoes_Score,Metacritic_Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,16.0,61.0,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25.0,68.0,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,36.0,75.0,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,42.0,83.0,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,37.0,63.0,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
file_path = "../../csv_file/Score_Genre.csv"
Score_Genre_df.to_csv(file_path, index=True)