In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

In [2]:
Score_df = pd.read_csv("../../csv_file/Netflix_data_ML.csv")
Genre_df = pd.read_csv("../../csv_file/Netflix_Dataset_Genre_Type.csv")

In [3]:
Score_df.head()

   Key  Hidden Gem Score  IMDb Score  Rotten Tomatoes Score  Metacritic Score
0    5               1.6         6.1                    8.0              29.0
1    6               2.5         6.8                   36.0              48.0
2    8               3.6         7.5                   81.0              62.0
3   15               4.2         8.3                   89.0              78.0
4   16               3.7         6.3                   91.0              70.0

In [4]:
Genre_df.head()

,Key,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,SHORT WAR,CRIME,ADVENTURE,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
0,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,5,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9420,9421,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9421,9422,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
9422,9423,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9423,9424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9424,9425,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
Score_Genre_df = pd.merge(Score_DF, Genre_DF, on = 'Key')
Score_Genre_df = Score_Genre_df.set_index('Key')
Score_Genre_df.head()

,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score,ACTION,DRAMA,SCI-FI,THRILLER,MYSTERY,HISTORY,...,BIOGRAPHY,FAMILY,MUSIC,MUSICAL,FANTASY,REALITY-TV,WAR,NEWS,TALK-SHOW,GAME-SHOW
Key,,,,,,,,,,,,,,,,,,,,,
5,1.6,6.1,8.0,29.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2.5,6.8,36.0,48.0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
8,3.6,7.5,81.0,62.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,4.2,8.3,89.0,78.0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
16,3.7,6.3,91.0,70.0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#df.rename(columns = {'Hidden Gem Score':'Hidden_Gem_Score', 'IMDb Score':'IMDb_Score'}, inplace = True)
#df.head()

In [ ]:
plt.scatter(df.	Hidden_Gem_Score, df.IMDb_Score)
plt.xlabel('Hidden_Gem_Score')
plt.ylabel('IMDb_Score')
plt.show()